<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user %> has requested you as a reference.</h1>
    <p>
      Please click on the link below to leave a reference. 
    </p>
    <p>
      <%= @url %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>