<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
  <% if new_applicant %>
  	<%= render 'form' %>
  <% else %>
  	<h2>You have already applied.</h2>	
  <% end %>
   </div>
</div>
