<div class="full_width_content">
<%= render 'pages/tabs' %>
<div class="fwc_body">
<h3>Resume</h3>

<div id="pdf">

<object data='/jobs/1-senior-project-director/applicants/3-new-new/answers/4/get_attachment' 
        type='application/pdf' 
        width='100%' 
        height='100%'>

<p>It appears your Web browser is not configured to display PDF files. 
No worries, just <a href='/assets/Proposal.pdf'>click here to download the PDF file.</a></p>

</object>


</div>

</div></div>
