<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
<h1>Editing job</h1>

<%= render 'form' %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
</div>
</div>
