<% if @user.jobs.count > 0 %>
<div class="container">
<h3>My Job Applications</h3>
<div id="table_border">
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Application Started</th>
      <th>Last Edited</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @user.jobs.order("created_at DESC").each do |job| %>
      <tr>
        <td><%= link_to_edit_job_app job %></td>
        <td><%= time_ago_in_words(get_application_date @user, job.id) %> ago</td>
        <td><%= time_ago_in_words(get_application_date_updated @user, job.id) %> ago</td>
        <td><%= get_app_status @user.id, job.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<p>
</div>
<% end %>