<% if @myjobs.count > 0 %>
<div class="container">
<h3>My Job Postings</h3>
<div id="table_border">
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Created</th>
      <th>Last Edited</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @myjobs.order("created_at DESC").each do |job| %>
      <tr>
        <td><%= link_to job.position, job %></td>
        <td><%= time_ago_in_words(job.created_at) %> ago</td>
        <td><%= time_ago_in_words(job.updated_at) %> ago</td>
        <td><%= job.published ? "Published" : "Not published" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<p>
</div>
<% end %>