<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Edit Profile</h1>
  <%= render 'pages/profile_tabs' %>
  <div class="fwc_body">
<div class="edit_form"
<%= render 'form' %>
</div>

</div>
</div>
