<p id="notice"><%= notice %></p>
<div class="full_width_content">
  <h1>Job Applications</h1>
  <%= render 'pages/profile_tabs' %>
  <div class="fwc_body">
  	<%= render 'users/jobapps' %>
</div>
</div>