<div class="full_width_content">
  <h1>Reset Password</h1>

  <div class="fwc_body">
    <%= form_tag("", :id => "resetpw_form") do |f| %>
      <%= password_field_tag :password, params[:password], :placeholder => "Enter password here" %>
      <%= password_field_tag :password_confirmation, params[:password_confirmation], :placeholder => "Confirm password here" %>
      <%= submit_tag "Reset Password" %>
    <% end %>
  </div>
</div>