<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
  <h2>Viewing Attachment</h2>
  <%= link_to "Back", :back, :id => "attachment_back" %>

  <div id="pdf">

  <object data='<%= get_attachment_url %>' 
          type='application/pdf' 
          width='100%' 
          height='100%'>

  <p>It appears your Web browser is not configured to display PDF files. 
  No worries, just <a href='/assets/Proposal.pdf'>click here to download the PDF file.</a></p>

  </object>
  </div>
</div>