<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
<h2>Viewing Attachment</h2>

<div id="pdf">

<iframe src="http://docs.google.com/gview?url=https://jobme.caseyharford.com/jobs/1-developer/applicants/6/answers/10/show_attachment&embedded=true" style="width:879px; height:1056px;" frameborder="0"></iframe>
</div>
  </div>
