<div class="full_width_content">
  <%= render 'pages/tabs' %>
  <div class="fwc_body">
<h1>Editing jobapp</h1>

<%= render 'form' %>

<%= link_to 'Show', job_jobapp_path(@job,@jobapp) %> |
<%= link_to 'Back', job_path(@job) %>
</div>
</div>