<div class="search_form">
<%= form_tag jobs_path, :method => 'get' do %>

<div class="fields">
	<%= text_field_tag :search, params[:search], :placeholder => "Stop dreaming, start searching!" %>
</div>
<div class="actions">
	<%= submit_tag "Find a job", :name => nil %>
</div>
<% end %>
</div>
