<nav>
  <%= link_to content_tag(:span, 'View Profile', :id => @tab == "view" ? "current_tab" : ""), user_path(@user) %>

  <%= link_to content_tag(:span, 'Edit Profile', :id => @tab == "edit" ? "current_tab" : ""), edit_user_path(@user) %>
</nav>