// Place all the styles related to the applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pdf {
	border: 3px solid #eee;
	height: 11in;
}
.new_applicant ul, .edit_applicant ul {
  list-style: none;
  border: 1px solid back;	
}

.new_applicant li, .edit_applicant li {
  margin-left: -20px;
  padding-bottom: 4px;
}

.rating_1_row {
	/*background-color: #ff6600;*/
  background-image: url('/assets/1_rating.png');
}
.rating_2_row {
	/*background-color: #cccc33;*/
  background-image: url('/assets/2_rating.png');
}
.rating_3_row {
	/*background-color: #99cc33;*/
  background-image: url('/assets/3_rating.png');

}
.rating_4_row {
  /*background-color: #66cc33;*/
	background-image: url('/assets/4_rating.png');
}
.rating_5_row {
	/*background-color: #33cc33;*/
	background-image: url('/assets/5_rating.png');
}
#table_border {
  border: 3px solid #ccc;
  border-radius: 5px;
}