// Place all the styles related to the jobapps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_jobapp .fields input {
	border: 0px;
	border-bottom: 1px dashed #ccc;
	width: 250px;
	font-size: 11px;
}
.edit_jobapp .fields input:active,.edit_jobapp .fields input:hover {
	background-color: #ffffcc;
}
#qfc img {
	float: right;
	width: 20px;
	padding-right: 2px;
}
