// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#job_position {
	border-radius: 3pt;
	border: 1pt dashed #ccc;
	height: 20pt;
	width: 250pt;
}
#job_description, #job_requirements {
	width: 80%;
	padding: 5pt;
	border-radius: 3pt;
	border: 1pt dashed #ccc;
	height: 100pt;
	resize: vertical;
}

.new_job .actions input {
	border: 1pt solid #eee;
	border-radius: 3pt;
	background-color: #3c9;
}
#new_job, #edit_job {
	border: 0pt solid black;
	padding: 10pt;
}

.job_container {
	border: 0pt dashed black;
}

.job_container ul {
	list-style: none;

}
.job_separator {
	border-top: 1pt dashed #eee;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}