// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#job_position, #job_department {
	border-radius: 3pt;
	border: 1pt dashed #ccc;
	height: 20pt;
	width: 250pt;
	font-size: 11pt;
}
#job_description, #job_salary, #job_minimum_qualifications, #job_preferred_qualifications, #job_responsibilities, .edit_jobapp textarea{
	width: 698pt;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 5pt;
	border-radius: 3pt;
	border: 1pt dashed #ccc;
	height: 100pt;
	resize: y;
	font-size: 10pt;
	line-height: 17pt;
}

.new_job .actions input {
	border: 1pt solid #eee;
	border-radius: 3pt;
	background-color: #3c9;
}
#new_job, #edit_job {
	border: 0pt solid black;
	padding: 10pt;
}

.job_container {
	border: 0pt dashed black;
}

.job_container ul {
	list-style: none;

}
.job_separator {
	border-top: 1pt dashed #eee;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.new_jobs_container {
	border: 0pt dashed #eee;
  width: 300pt;
  height: 200pt;
  float: right;
  margin-right: 70pt;
  margin-top: 30pt;
}

.new_jobs_container ul {
  list-style: none;
  margin-left: -15pt;
}

.new_jobs_container li {
  margin-bottom: 18pt;
}

.new_jobs_container h1 {
  margin-bottom: 20pt;
}

.edit_button {
	border-radius: 0pt 0pt 3pt 3pt;
	float: right;
	font-weight: bold;
	position: relative;
	right: 0pt;
	top: -5pt;
}
.edit_mode {
	width: 100%;
	background-color: #ccffdd;
	text-align: center;
	font-weight: bold;
}