// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_container {
	top: 38pt;
	margin-top: 0pt;
	position: relative;
	width: 768pt;
	margin-left: auto;
	margin-right: auto;
	border: 1pt dashed #eee;
  	box-shadow: 1px 1px 10px 1px #ccc;
	height: auto;

}

.main_content {
	width: 100%;
	height: auto;
	overflow: auto;
}

.main_content .signup_form form .actions input {
	background-color: #33cc99;
	font-size: 22pt;
	font-weight: bold;
	padding: 10pt;
	display: block;
	border: 1pt solid #ccc;
	border-radius: 3pt;
	-web-kit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	box-shadow: 0px 0px 10px 2px #ccc;
}
.main_content .signup_form form .actions input:hover {
	background-color: #E1F5A9;
}
header {
	position: fixed;
	top: 0pt;
	height: 45pt;
	width: 774pt;
	left: 50%;
	margin-left: -387pt;
	background-color: #eee;
  	border-bottom: 1pt solid #ccc;
	box-shadow: 0px 0px 10px 1px gray;
	z-index: 100;
}

header h1 {
	position: relative;
	top: 20pt;
	left: 20pt;
	padding: 0pt;
	margin: 0pt;
	font-size: 25pt;
}

header h1 span {
	color: gray;
	text-outline: 1pt solid black;
}

footer {
	height: 45pt;
	width: 774pt;
	margin-left: -3pt;
	background-color: #eee;
	border-top: 1pt solid #ccc;
	box-shadow: 0px 0px 10px 1px gray;
	bottom: 0pt;
}

footer .search_form {
	border: 0pt solid red;
	margin-left: auto;
	margin-right: auto;
	width: 300pt;
	height: 20pt;
	margin-top: 12pt;
}
footer .search_form .fields {
	float: left;

}
header nav {
	margin-top: 10pt;
	float: right;
	position: relative;
	z-index: 101;
}

header nav span {
	padding-right: 10pt;
	float: right;
	display: block;
}

header nav span a {
	display: block;
	font-weight: bold;
}

.main_content .signup_form {
	border: 0pt dashed black;
	width: 265pt;
	overflow: auto;
	height: auto;
	margin-bottom: 10pt;
	padding-left: 30pt;

}

.signup_form .field input {
	width: 250pt;
	border: 1pt solid #ccc;
	height: 17pt;
	border-radius: 3pt;
	-web-kit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	margin-bottom: 10pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

.welcome_message {
	margin-top: 30pt;
	margin-bottom: 50pt;
	text-align: center;
	font-weight: bold;
	font-size: 50pt;
}
.content_with_nav {
	width: 80%;
  border-left: 1pt dashed #ccc;
	float: right;
  min-height: 420pt;

}
.main_side_nav {
	width: 18%;
	height: 100%;
  clear: right;
  float: left;
}

.clear_floats {
	clear: both;
  	height: 1pt;
}
.index_info {
  float: left;
  padding-left: 40pt;
  padding-top: 10pt;
}
.content_with_nav h1 {
  padding: 10pt;
}

.full_width_content {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20pt;
  margin-bottom: 18pt;
}
.full_width_content nav {
  border: 0pt solid black;
  width: 100%;
  overflow: auto;
}
#notice {
  text-align: center;
  position: absolute;
  width: 100%;
}

.full_width_content nav span {
  border-left: 1pt dashed #ccc;
  border-right: 1pt dashed #ccc;
  border-top: 1pt dashed #ccc;
  float: left;
  margin-right: 5pt;
  padding-left: 8pt;
  padding-right: 8pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  border-radius: 3pt;
  font-weight: bold;
}
.full_width_content .fwc_body {
  border: 1pt dashed #ccc;
  border-radius: 0pt 3pt 3pt 3pt;
  padding: 10pt;
}
.fwc_body table {
  width: 100%;
  border: 0pt solid black;

}
.fwc_body th {
  text-align: left;
}

.fwc_body td {
  padding-top: 8pt;
}