// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header nav {
	margin-top: 10pt;
	float: right;
	position: relative;
	z-index: 101;
}

header nav span {
	padding-right: 10pt;
	float: right;
	display: block;
}

header nav span a {
	display: block;
	font-weight: bold;
}

.main_content .signup_form {
	border: 0pt dashed black;
	width: 265pt;
	overflow: auto;
	height: auto;
	margin-bottom: 10pt;
	padding-left: 30pt;

}

.signup_form .field input {
	width: 250pt;
	border: 1pt solid #ccc;
	height: 17pt;
	border-radius: 3pt;
	-web-kit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	margin-bottom: 10pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

.welcome_message {
	margin-top: 30pt;
	margin-bottom: 50pt;
	text-align: center;
	font-weight: bold;
	font-size: 50pt;
}
.content_with_nav {
	width: 80%;
  border-left: 1pt dashed #ccc;
	float: right;
  min-height: 420pt;

}
.main_side_nav {
	width: 18%;
	height: 100%;
  clear: right;
  float: left;
}

.clear_floats {
	clear: both;
  	height: 1pt;
}
.index_info {
  float: left;
  padding-left: 40pt;
  padding-top: 10pt;
}
.content_with_nav h1 {
  padding: 10pt;
}