// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_container {
	top: 45px;
	margin-top: 0px;
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed #eee;
  	box-shadow: 1px 1px 10px 1px #ccc;
	height: auto;

}

.main_content {
	width: 100%;
	height: auto;
	overflow: auto;
}

.main_content .signup_form form .actions input {
	background-color: #33cc99;
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 0px 10px 2px #ccc;
}
.main_content .signup_form form .actions input:hover {
	background-color: #E1F5A9;
}
header {
	position: fixed;
	top: 0px;
	height: 65px;
	width: 970px;
	left: 50%;
	margin-left: -485px;
	background-color: #eee;
  	border-bottom: 1px solid #ccc;
	box-shadow: 0px 0px 10px 1px gray;
	z-index: 100;
}

header h1 {
	position: relative;
	top: 30px;
	left: 15px;
	padding: 0px;
	margin: 0px;
	font-size: 35px;
}

header h1 span {
	color: gray;
}

footer {
	height: 65px;
	width: 970px;
	margin-left: -5px;
	background-color: #eee;
	border-top: 1px solid #ccc;
	box-shadow: 0px 0px 10px 1px gray;
	bottom: 0px;
}

footer .search_form {
	border: 0px solid red;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 20px;
	margin-top: 15px;
}
footer .search_form .fields {
	float: left;

}
header nav {
	margin-top: 10px;
	float: right;
	position: relative;
	z-index: 101;
}

header nav span {
	padding-right: 10pt;
	float: right;
	display: block;
}

header nav span a {
	display: block;
	font-weight: bold;
}

.main_content .signup_form {
	border: 0pt dashed black;
	width: auto;
	overflow: auto;
	height: auto;
	margin-bottom: 15px;
	padding-left: 60px;

}

.signup_form .field input, .fwc_body #new_reference .field input {
	width: 350px;
	border: 1pt solid #ccc;
	height: 17pt;
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.welcome_message {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
}

.clear_floats {
	clear: both;
  	height: 1px;
}
.index_info {
  float: left;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full_width_content {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 18px;
}

.full_width_content nav {
  border: 0pt solid black;
  width: 100%;
  overflow: auto;
  margin-left: 5px;
}
#notice {
  text-align: center;
  position: absolute;
  width: 100%;
 
}
.full_width_content nav a span {
  border-left: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
  float: left;
  margin-left: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px 3px 0px 0px;
  font-weight: bold;
}
.full_width_content nav a span:hover {
	background-color: #ffffee;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
} 
.full_width_content .fwc_body {
  border-top: 1pt dashed #ccc;
  border-radius: 10px 10px 10px 10px;
}
.fwc_body {
  padding: 14px;
}
.fwc_body table {
  width: 100%;
  border: 0px solid black;

}
.fwc_body th {
  text-align: left;
}

.fwc_body td {
  padding: 3px;
}

.fwc_body h3 {
  width: 100%;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 3px;
}