// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header form {
  position: absolute;
	top: 20pt;
	right: 10pt;
}

header form .field, header form .actions {
	float: left;
}

header form .field input {
	width: 80pt;
	margin-right: 5pt;
	height: 17pt;
	border: 1pt solid #ccc;
	border-radius: 3pt;
	-web-kit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	padding-left: 5pt;
	padding-right: 5pt;
}

header form .actions input {
	height: 20pt;
	border: 1pt solid #ccc;
	background-color: #eee;
	border-radius: 3pt;
	-web-kit-border-radius: 3pt;
	-moz-border-radius: 3pt;
}

header form input:hover {
	border: 1pt solid maroon;
}