// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header form {
  position: absolute;
	top: 30px;
	right: 10px;
}

header form .field, header form .actions {
	float: left;
}

header form .field input {
	width: 100px;
	margin-right: 5px;
	height: 22px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

header form .actions input {
	height: 26px;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 3px;
	-web-kit-border-radius: 3px;
	-moz-border-radius: 3px;
}

header form input:hover {
	border: 1px solid maroon;
}

.user_login_form {
	border: 0px dashed black;
	padding: 10px;
}